[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
psutil = "*"

[dev-packages]
yapf = "*"
mypy = "*"
pylint = "*"
pyinstaller = "*"

[requires]
python_version = "3.11"
